
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}
.polls_tabs{
  width: 500px;
}
.preview{
  display: block;
  width: auto;
  height: auto;
  margin:  20px auto;
}
.pollContent{
  margin: 30px;
}
.card{
  margin: 20px;
  min-width: 300px !important;
  width: auto;
}
.card-header > img{
  width: 20px;
  height: 20px;
  margin: 0 20px;
}
.card-body {
  flex-direction: column;
  height: 70px;
  align-items: center;
}
.card-body > p{
  margin: 5px 0px;
  align-content: flex-end;
}
.tabs  > a {
  background-color: #f8f9fa;
  color: #128496;
} 
.tabs  > a:hover{
  background-color: #f8f9fa;
  color: #128496;
} 
.tabs :first-child {
  display: block;
  width: auto;
  height: auto;
  margin: 0 0 0 20px;
  border-right: 2px solid rgb(20, 111, 104);

}
.form{
  width: 400px;
  padding: 20px;
  border: 1px solid #128496;
  background-color: #f8f9fa;

}
.form-text{
  font-size: 20px;
}
.tabsContainer{
  display: block;
  max-width: 550px;
  background-color: #f8f9fa;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
}
.signin-card{
  width: 400px;
}
.table{
  margin: 20px;
}
.table-info{
  background-color: transparent;
}
.chosen-card-header:first-child{
  background-color: #128496;
  color: #fff;
}
.pollContainer{
  display: flex;
  max-width: 500px;
  flex-direction: row;
  background-color: #fff;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #128496;
}
.leaderContainer{
  display: flex;
  max-width: 400px;
  flex-direction: row;
  background-color: #fff;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #128496;
}
.author{
  display: block;
  width: 150px;
  height: auto;
  padding: 0 20px 0 0;
  margin: 0 0 0 20px;
  border-right: 2px solid #128496;
}
.author img{
  display:block;
  margin:  auto;
}
.author h5{
  display:block;
  text-align: center;
  margin: 10px 0;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: unset;
  color: rgb(3, 116, 106);
  text-align: center;
  margin: 35px auto;
  padding: 5px;
  border: 1px solid #128496;
  cursor: pointer;
  background: rgb(255, 255, 255);
  font-size: 16px;
  height: 50px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-width: 2px;
  color: rgba(1, 48, 44);
  border-color: #128496;
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin: 10px;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}
.headerContainer{
  max-width: 800px;
  display: block;
  margin: 10px auto;
}
.headerContainer > ul {
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background: none;
}

.headerContainer li {
  float: left;
}

.headerContainer li a {
  display: block;
  color: black;
  text-align: center;
  border-right: 1px solid;
  padding: 14px 16px;
  text-decoration: none;
}

.headerContainer li a:hover {
  text-decoration: underline;
}